@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-image {
    animation: bell-swing 1.5s ease-in-out infinite;
    transform-origin: top center;
}

@keyframes bell-swing {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(15deg);
    }

    30% {
        transform: rotate(-15deg);
    }

    45% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.errorpage {
  background-image: url('/Images/error-page1.jpg');
  width: 50%;                     
  height: 100vh;                 
  background-position: center;
  background-size: contain;      
  background-repeat: no-repeat;
  margin: 0 auto;               
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
